<h1>Ember Stripe Elements</h1>

<h2>Stripe Card</h2>

<p>
  Advanced usage of <code>&lt;StripeCard /&gt;</code> with a block and options
</p>

<div class="input-group">
  <StripeCard @autofocus={{true}} @options={{this.cardOptions}} as |stripeElement stripeError|>
    {{#if stripeError}}
      <p class="error">{{stripeError.message}}</p>
    {{/if}}
    <button {{on "click" (fn this.submit stripeElement)}} type="button">Submit</button>
    {{#if this.token}}
      <p>Your token: <code>{{this.token.id}}</code></p>
    {{/if}}
  </StripeCard>
</div>

<p>
  <pre><code>&lt;StripeCard /&gt;</code></pre>
</p>

<div class="input-group">
  <StripeCard />
</div>

<h2>Individual Elements</h2>

<p>
  <code>&lt;StripeCardNumber /&gt;</code>
</p>

<div class="input-group">
  <StripeCardNumber @options={{this.options}} />
</div>

<p>
  <code>&lt;StripeCardExpiry /&gt;</code>
</p>

<div class="input-group">
  <StripeCardExpiry @options={{this.options}} />
</div>

<p>
  <code>&lt;StripeCardCvc /&gt;</code>
</p>

<div class="input-group">
  <StripeCardCvc @options={{this.options}} />
</div>

<p>
  <code>&lt;StripePostalCode /&gt;</code>
</p>

<div class="input-group">
  <StripePostalCode @options={{this.options}} />
</div>
